body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f9f7e8;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  font-family: "Courgette";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  color: #62bfad;
  padding-left: 100px;
}

header .menu {
  padding-right: 1750px;
  font-family: "Ubuntu", sans-serif;
  padding-left: 50px;
  display: flex;
  align-items: center;
}

header .menu a {
  margin-right: 10px;
  text-decoration: none;
  color: #333;
}

main {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
}

main .intro {
  padding-top: 150px;
  padding-left: 525px;
  position: absolute;
  width: 738px;

  font-family: "Limelight";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}
main .background {
  position: absolute;
  width: 100%;
  height: 400px;
  background: #d52047;
}

main .about {
  margin-top: 400px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

main .subtitle {
  font-size: 35px;
  margin-bottom: 10px;
  background-color: #eff8f6;
  padding: 10px;
  border-radius: 10px;
  color: rgb(255, 0, 0);
  padding-left: 300px;
}

main .content {
  background-color: #e6dede;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
  width: 100%;
  display: flex;
  height: 400px;
  margin: 0 auto;
  max-width: 1250px;
}

main .features {
  display: flex;
  justify-content: space-between;
}

main .feature {
  width: 300px;
  height: 400px;
  margin-right: 50px;

  padding: 10px;

  margin-bottom: 20px;
  color: white;
  text-align: center;
  background: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 8px;
  align-items: center;
  box-sizing: border-box;
}

main .feature img {
  width: 220px;
  height: 125px;

  margin-bottom: 10px;
}

main .feature .title {
  margin-left: 24px;
  text-align: left;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 5px;
  color: black;
  font-family: "Lato";
}

main .feature .text {
  color: black;
  font-size: 14px;
}

.footer {
  padding-top: 35px;
  text-align: center;
  height: 75px;
  width: 100%;
  background-color: #f9f7e8;
}
.sub {
  color: rgb(0, 0, 0);
  font-weight: bold;
  width: 200px;
}
.img4 {
  flex: 1;
  display: flex;
}
.text1 {
  padding-top: 50px;
  width: 700px;
  height: 50%;
  padding-right: 5px;
}
.rm1 {
  display: flex;
  color: red;
}
.rm2 {
  color: red;
  display: flex;
}
.rm3 {
  color: red;
  display: flex;
}
.bg1 {
  width: 100%;
  height: 500px;

  background: #eff8f6;
}
main .subtitle1 {
  font-size: 35px;

  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  color: rgb(255, 0, 0);
  padding-left: 400px;
}
.container {
  padding-left: 450px;
  display: flex;
}
.icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.container1 {
  padding-top: 10px;
  display: flex;
  padding-left: 900px;
}
