* {
  padding: 0;
  margin: 0;
}

ul.navbar li {
  float: left;
}

ul.navbar li a {
  display: inline-block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.container {
  justify-content: center;
  text-align: center;
  background-color: #eeeff1;
  max-width: 100%;
  .navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #eeeff1;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .li {
    float: left;
  }
  .a {
    display: inline-block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .info {
    margin-top: 50px;
  }

  h3 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  p {
    padding-top: 15px;
    margin-bottom: 20px;
  }
  button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    width: 150px;
    background-color: #34547a;
    color: #eeeff1;
  }
}

.container1 {
  background-color: #ffffff;
  display: flex;
  text-align: center;
  justify-content: center;
  height: 220px;
  padding-top: 70px;
  p {
    padding-top: 20px;
    max-width: 450px;
  }
  .me {
    max-width: 400px;
  }
}
.container2 {
  background-color: #34547a;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  .card {
    width: 100%;
    max-width: 200px;
    height: 200px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    padding-right: 35px;
    font-size: 18px;
    color: #ffffff;
  }
  .card1 {
    width: 100%;
    max-width: 200px;
    height: 200px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    padding-right: 75px;
    font-size: 18px;
    color: #ffffff;
  }
  .card2 {
    width: 100%;
    max-width: 200px;
    height: 200px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    padding-right: 75px;
    font-size: 18px;
    color: #ffffff;
  }
  .card3 {
    width: 100%;
    max-width: 200px;
    height: 200px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    padding-right: 75px;
    font-size: 18px;
    color: #ffffff;
  }
  .card4 {
    width: 100%;
    max-width: 200px;
    height: 200px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    padding-right: 75px;
    font-size: 18px;
    color: #ffffff;
  }
  .icon {
    max-width: 100px;
    max-height: 100px;
    color: #ffffff;
  }
  span {
    color: #ffffff;
  }
}
.container3 {
  background-color: #ffffff;
  display: flex;
  text-align: center;
  justify-content: center;
  height: 600px;
  padding-top: 150px;

  p {
    padding-top: 20px;
    max-width: 600px;
    padding-bottom: 30px;
    padding-left: 15px;
  }
  video {
    padding-top: 20px;
  }
}
footer {
  background-color: #34547a;
  color: #ffffff;
  padding-top: 55px;

  .container4 {
    padding-left: 200px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 100%;
    padding: 10px;
  }

  h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  p {
    font-size: 14px;
    line-height: 1.4;
  }

  img {
    max-width: 100%;
    height: auto;
  }
  .container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .card1 {
      display: none;
    }
    .card2 {
      display: none;
    }
    .card3 {
      display: none;
    }
    .card4 {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    max-width: 100%;
    padding: 20px;
  }
  .container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    overflow-x: hidden;
    .card1 {
      display: none;
    }
    .card2 {
      display: none;
    }
  }
  .card1 {
    display: none;
  }
  .card2 {
    display: none;
  }
  h3 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  p {
    font-size: 16px;
    line-height: 1.5;
  }

  img {
    max-width: 100%;
    height: auto;
  }
  .icon {
    flex: 0 0 auto;
  }
}
